body {
  background-color: #ecf0f1; /* CSS background */
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

header {
  background: #34495e; /* CSS background */
  color: white; /* CSS color */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px; /* CSS unit + font-size */
}

article {
  background: #fff;
  margin: 20px auto;
  padding: 15px;
  width: 80%; /* CSS unit */
  border-radius: 8px;
}

h2 {
  color: #29e0b9; /* CSS color */
  font-size: 22px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #e74c3c;
  text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
